doctype html 
html
    head 
        title Home page  
            
    body 
        h1 Home 

        #container 
            form(action="/download-image")
                button(id="imgBtn" type="submit")="Download"

        br
        #container2
            button(id="userBtn")
                a(href="/users") Users
            button(id="postBtn")
                a(href="/posts") Posts