doctype html 
html 
    head 
        title User Profile 
    body 
        h1 User Profile 
            button(id="postBtn")
                a(href="/posts") Posts
            button(id="loginBtn")
                a(href="/login") Login

    
        
        

        
                

